snippet svg
<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
${1}
</svg>
endsnippet

snippet rect
<rect fill="${1:white}" width="${2:200}" height="${3:200}" x="${4:0}" y="${5:0}"/>
endsnippet

snippet circle
<circle cx="${1:100}" cy="${2:100}" r="${3:50}" fill="${4:white}" />
endsnippet
