snippet code "<code>"
<code>${1}</code>${2}
endsnippet

snippet em "<em>"
<em>${1}</em>${2}
endsnippet

snippet h "Titles"
<h$1>${2}</h$1>
endsnippet

snippet section "<section>"
<section ${1:class="${2:class}"}>
  ${3}
</section>${4}
endsnippet

snippet img "<img>"
<img src="${1:http://placehold.it/200}" />${2}
endsnippet

snippet < "Any HTML element"
<$1>${2}</$1>
endsnippet
